<% include layout/_header %>
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <h1><%= title %> <%= author %></h1>
        <ul class="nav nav-pills nav-stacked">
          <% posts.forEach(function(posts){ %>
            <li>
              <a href="/post/<%= posts.id %>">
                <%= posts.postName %>
              </a>
            </li>
            <% }); %>
        </ul>

      </div>
    </div>
  </div>
  <% include layout/_footer %>
