<% include layout/_header %>
  <div class="container">
    <div class="row">
      <div class=" col-md-12">
        <h1><%= title %></h1>
        <span class="date"><%= date %>&nbsp;&nbsp;&nbsp;</span>
        <span class="author"><a href="/author/id"><%= author %></a></span>
        <hr>
        <%= postText %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="notRegged col-md-12">
        <a href="/post/id/edit" class="btn btn-warning">Редактировать</a>
        <button class="btn btn-danger">Удалить</button>
      </div>
    </div>
  </div>
  <% include layout/_footer %>
