<% include layout/_header %>
<div class="container">
    <div class="row">
      <div class=" col-md-12">
        <h1><%= title %></h1>
        <span class="date"><%= date %>&nbsp;&nbsp;&nbsp;</span>
        <span class="author"><a href="/author/id"><%= author %></a></span>
        <hr>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quas reprehenderit, maxime sunt cumque in fugit quos, autem labore asperiores dolorum ex provident sapiente facere quod. Sequi sunt voluptatum non!</div>
        <div>Commodi quos mollitia et nesciunt expedita sunt reprehenderit facilis, minus accusantium optio iste, nisi sit iure voluptates incidunt soluta eveniet, a ipsam? Minus minima enim, eos quasi aperiam, architecto sapiente?</div>
        <div>Voluptates iusto vero incidunt explicabo at officiis praesentium ipsam accusamus, et laboriosam quos sapiente? Magnam eius enim odit tenetur nostrum eaque illum id quae eligendi temporibus. Hic ratione necessitatibus iste!</div>
        <div>Voluptas quasi nihil sequi, eum aliquid consequatur quaerat. Harum velit quisquam illum dolorum sed ea natus ullam minus numquam corporis! Nisi culpa quaerat dolores natus, id ducimus iure dicta optio!</div>
        <div>Exercitationem saepe delectus corporis tempore, nesciunt expedita voluptatibus autem maiores commodi, ipsam minus laborum qui est eos aspernatur, quos. Id sequi amet, dolore ut at ipsum quia provident sunt ipsa.</div>
        <div>Quis fugit architecto quas! Atque error nihil nam asperiores, magnam, ad fuga et tempore eos? Nulla nobis, earum perferendis nam dolor culpa ducimus. Est omnis eum natus ipsa debitis eius.</div>
        <div>Exercitationem totam incidunt mollitia neque. Nemo, expedita ipsa laborum! Velit, quos, magnam! Assumenda, provident nesciunt delectus ad animi. Odit perspiciatis expedita incidunt iste, quos blanditiis nesciunt ab recusandae ratione repellat?</div>
        <div>Doloremque, consequatur, quaerat. Recusandae voluptatum ipsa, odio vel quae. Cupiditate error eos quibusdam saepe minima dignissimos atque dolore rerum itaque, pariatur non quae placeat officiis incidunt nostrum, quasi possimus nisi!</div>
        <div>Voluptas quasi nihil sequi, eum aliquid consequatur quaerat. Harum velit quisquam illum dolorum sed ea natus ullam minus numquam corporis! Nisi culpa quaerat dolores natus, id ducimus iure dicta optio!</div>
        <div>Exercitationem saepe delectus corporis tempore, nesciunt expedita voluptatibus autem maiores commodi, ipsam minus laborum qui est eos aspernatur, quos. Id sequi amet, dolore ut at ipsum quia provident sunt ipsa.</div>
        <div>Vero dolore alias unde eius ipsa nulla officia maxime repellendus quidem sed necessitatibus dolorem esse, quas, officiis, repudiandae iure non provident qui rerum amet et a mollitia facilis dolores! Similique.</div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="notRegged col-md-12">
        <a href="/post/id/edit" class="btn btn-warning">Редактировать</a>
        <button class="btn btn-danger">Удалить</button>
      </div>
    </div>
  </div>
<% include layout/_footer %>
